* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: red;
    transition-duration: 2s;
    transition-property: color;
    transition-delay: 2s;
}

.fa-solid {
    margin-left: 170px;
    position: relative;
}

.fa-solid::after {
    content: '1';
    position: absolute;
    background-color: red;
    font-size: 4px;
    /* width: 25px;
    height: 25px; */
    padding: 2px 3px;
    color: white;
    border-radius: 50%;
    top: 0;
    right: -3px;
    border: 1px solid white;
}